/infrastructure/terraform.tfvars
.aws/config
.aws/credentials
infrastructure/.env
infrastructure/.terraform.lock.hcl
infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/6.18.0/windows_amd64/LICENSE.txt
infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/6.18.0/windows_amd64/terraform-provider-aws_v6.18.0_x5.exe
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
